/manager/bin
/manager/obj
/manager/packages
/manager/.vs
/updater/bin
/updater/obj
/updater/packages
/updater/.vs
/webpanel/bin
/webpanel/obj
/webpanel/packages
/webpanel/.vs
/database/bin
/database/obj
/database/packages
/database/.vs
/*/*.csproj.user
.vs
packages
